[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
casbin = "*"
python-ldap = "*"
flake8 = "*"
pylint = "*"
pymongo = "*"

[requires]
python_version = "3.7"
